<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%level]}{FATAL=red bold, ERROR=red bold, WARN=yellow bold, INFO=blue bold, DEBUG=green bold, TRACE=blue} %d{yyyy-MM-dd HH:mm:ss.SSS} %c:%L - %m%n" disableAnsi="false"/>
            <!--            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c:%L - %msg{nolookups}%n"/>-->
        </Console>
        <!--        <File name="MyFile" fileName="logs/app.log" immediateFlush="true">-->
        <!--            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg{nolookups}sg%n"/>-->
        <!--        </File>-->
        <Routing name="MyRoutingAppender">
            <Routes pattern="$${ctx:ROUTINGKEY}">
                <Route>
                    <RollingFile
                            name="appender-${ctx:ROUTINGKEY}"
                            fileName="${ctx:ROUTINGKEY}/product.log"
                            filePattern="${ctx:ROUTINGKEY}/$${date:yyyy-MM-dd}/application-%d{yyyy-MM-dd}-%i.log">
                        <PatternLayout>
                            <Pattern>[${ctx:ROUTINGKEY} %-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}:%L - %msg{nolookups}%n</Pattern>
                        </PatternLayout>
                        <Policies>
                            <TimeBasedTriggeringPolicy />
                            <SizeBasedTriggeringPolicy size="10MB" />
                        </Policies>
                        <DefaultRolloverStrategy max="5" />
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Logger name="java" level="info" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="MyRoutingAppender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="MyRoutingAppender"/>
        </Root>
    </Loggers>
</Configuration>